{% extends "global/Page.html" %}
{{ block title }}

{{ endblock }}
{{ block content }}
{{ if player.role == 'dictator' }}
  {% with  field={'name':'average_dg_belief', 'label':'На этапе принятия решения, какое решение о передаче денег примет большинство участников А?'} %}
        {% include "polar/includes/choicer_wrapper.html" %}
    {% endwith %}

{{ else }}
  {% with  field={'name':'own_dg_belief', 'label':'Как вы думаете, какое решение о передаче денег примет участник А, с которым вы в паре?'} %}
        {% include "polar/includes/choicer_wrapper.html" %}
    {% endwith %}

{{ endif }}












{{ next_button }}

{{ endblock }}
