{{ block title }}
DG comprehension check

{{ endblock }}
{{ block content }}
<div class="alert alert-warning my-3">
    The following questions allow us to check if you understand the instructions. You will be able to proceed after you
    submit the correct answers to these questions

</div>
<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            Q1. If you decided to give 50 cents, how much would each of you end up with?

            <h6>Your payoff:</h6>
            {% with  field_name="cq1_ego" %}
                {% include "polar/includes/cqchoicer.html" %}
            {% endwith %}
            <h6>Their payoff:</h6>
            {% with  field_name="cq1_alter" %}
                {% include "polar/includes/cqchoicer.html" %}
            {% endwith %}

        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            Q2. If you decided to make no change to either endowment, how much would each of you end up with?
            <h6>Your payoff:</h6>
            {% with  field_name="cq2_ego" %}
                {% include "polar/includes/cqchoicer.html" %}
            {% endwith %}
            <h6>Their payoff:</h6>
            {% with  field_name="cq2_alter" %}
                {% include "polar/includes/cqchoicer.html" %}
            {% endwith %}

        </div>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            Q3. If you decided to take 50 cents, how much would each of you end up with?

                <h6>Your payoff:</h6>
            {% with  field_name="cq3_ego" %}
                {% include "polar/includes/cqchoicer.html" %}
            {% endwith %}
            <h6>Their payoff:</h6>
            {% with  field_name="cq3_alter" %}

                {% include "polar/includes/cqchoicer.html" %}
            {% endwith %}


        </div>
    </div>
</div>

{{ next_button }}

{{ endblock }}
