{% extends "global/Page.html" %}

{{ block title }}

{{ endblock }}
{{ block content }}
<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">

                {% if subsession.treatment == 'reveal_before' %}


                    <li class="list-group-item">
                        Теперь вам нужно решить, хотите ли вы наблюдать, согласен или не согласен участник B, с которым вы сопряжены, со следующим утверждением:
                    </li>
                    <li class="list-group-item text-center lead">{{ Constants.statement_lgbt }}
                    </li>
                    <li class="list-group-item">
                           {{ formfield player.reveal label='' }}
                    </li>
                {% else %}

                    <li class="list-group-item">
                        On the next page you will see whether the Participant B with whom you are matched agreed or
                        disagreed with the following statement:
                    </li>
                    <li class="list-group-item text-center lead">
                         {{ Constants.statement_lgbt }}
                    </li>

                {% endif %}
                <li class="list-group-item">
                    {{ Constants.privacy_note }}
                </li>
                <li class="list-group-item">Нажмите "Далее", чтобы продолжить
                </li>
            </ul>
        </div>
    </div>
</div>
{{ next_button }}

{{ endblock }}
