{% extends "global/Page.html" %}

{{ block title }}
Information stage 1
{{ endblock }}
{{ block content }}
<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                {% if subsession.treatment == 'reveal_before' %}


                    <li class="list-group-item">
                        Now you have to decide if you want to observe whether the Participant B with whom you are
                        matched
                        agreed or disagreed with the following statement:
                    </li>
                    <li class="list-group-item text-center lead">{{ Constants.statement_lgbt }}
                    </li>
                    <li class="list-group-item">
                        <div id="id_reveal" required="">
                            <div class="form-check"><input class="form-check-input" type="radio" id="id_reveal-0"
                                                           name="reveal"
                                                           required="" value="False"> <label for="id_reveal-0">I <b>do
                                not
                                want</b> to
                                observe the answer of Participant B</label></div>
                            <div class="form-check"><input class="form-check-input" type="radio" id="id_reveal-1"
                                                           name="reveal"
                                                           required="" value="True"> <label for="id_reveal-1">I
                                <b>want</b> to
                                observe the answer of Participant B</label></div>
                        </div>
                    </li>
                {% else %}

                    <li class="list-group-item">
                        On the next page you will see whether the Participant B with whom you are matched agreed or
                        disagreed with the following statement:
                    </li>
                    <li class="list-group-item text-center lead">
                         {{ Constants.statement_lgbt }}
                    </li>

                {% endif %}
                <li class="list-group-item">
                    {{ Constants.privacy_note }}
                </li>
                <li class="list-group-item">Please click ‘Next’ to proceed
                </li>
            </ul>
        </div>
    </div>
</div>
{{ next_button }}

{{ endblock }}
