{% extends "global/Page.html" %}

{{ block title }}

{{ endblock }}
{{ block content }}
<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">

                {% if player.treatment == 'reveal_before' %}


                    <li class="list-group-item">
                        Теперь вам нужно решить, <b>хотите ли вы посмотреть</b> как Участник Б ответил на вопрос о том, <br> <i>поддерживает ли он (она) или нет действия российских вооруженных сил на Украине</i>.
                    </li>



                    <li class="list-group-item">
                        {{ formfield player.dictator_reveal label='Хотели бы вы увидеть ответ участника Б на этот вопрос?' }}
                    </li>
                {% elif player.treatment == 'vl' %}
                    <li class="list-group-item">
                        Участник Б, с которым вы в паре, имел возможность сообщить вам как он (или она)  ответил на вопрос о том, <i>поддерживает он или нет действия российских вооруженных сил на Украине</i>.
                    </li>
                    <li class="list-group-item">
                        Если участник Б <b>согласился</b> сообщить вам свой ответ, то на следующей странице вы увидите его или ее
                        ответ на
                        этот вопрос.
                    </li>
                    <li class="list-group-item">
                        Если участник Б <b>отказался</b> сообщать вам свой
                    ответ, то на следующей странице вы увидите сообщение об отказе.
                    </li>





                {% else %}

                    <li class="list-group-item">
                        На следующей странице вы увидите, как участник Б, с которым вы в паре, ответил на вопрос о том, <i>поддерживает он или нет действия российских вооруженных сил на Украине</i>.
                    </li>


                {% endif %}
                <li class="list-group-item">
                    {{ C.privacy_note }}
                </li>

            </ul>
        </div>
    </div>
</div>
{{ next_button }}

{{ endblock }}
