{% extends "global/Page.html" %}
{{ block title }}

{{ endblock }}
{{ block content }}
{{ formfield player.reason_dg }}
<div class="alert alert-info">
    Пожалуйста, укажите ниже три ключевых слова, которые лучше всего описывают мотивы, по которым вы приняли решение о
    том, чтобы дать или взять деньги у участника В, с которым вы были сопоставлены, или оставить его счет без изменений?
</div>
{{ formfield player.keyword_dg_1 label='' }}
{{ formfield player.keyword_dg_2 label=''  }}
{{ formfield player.keyword_dg_3  label='' }}
{% if session.config.reveal %}


    {{ formfield player.reason_reveal }}
    <div class="alert alert-info" >
        Пожалуйста, укажите ниже три ключевых слова, которые лучше всего описывают мотивы, по которым вы приняли решение относительно
        наблюдать или не наблюдать за мнением участника Б?
    </div>
    {{ formfield player.keyword_rev_1 label='' }}
    {{ formfield player.keyword_rev_2 label=''  }}
    {{ formfield player.keyword_rev_3  label='' }}
{% endif %}

{{ next_button }}

{{ endblock }}
