<div class="card my-3">

    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item my-3">
                    Этап принятия решения проходит следующим образом:

                </li>
                <li class="list-group-item  mx-3">
                    - Участник А объединяется в пару со случайно выбранным участником Б.


                </li>
                <li class="list-group-item  mx-3 ">
                    - Вам обоим выделяется по $0,50.

                </li>
                <li class="list-group-item  mx-3">
                    - Участнику А дополнительно выделяется еще $0,50, что в сумме составляет $1,00.
                    Участник Б  не получает дополнительно $0,50.


                </li>
                <li class="list-group-item my-3">
                    Участнику А необходимо будет принять <b>одно</b> решение относительно полученных  денег. Он или она может принять решение:


                </li>
                <li class="list-group-item  mx-3  ">
                    - <b>взять</b> до $0,50 у участника Б и добавить их к своему бонусу;


                </li>
                <li class="list-group-item  mx-3">
                    - <b>Оставить без изменений</b> деньги, выделенные обоим участникам;


                </li>
                <li class="list-group-item  mx-3">
                    - <b>отдать</b> до $0,50 из полученных денег участнику Б.
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-header">
        Таблица бонусов
    </div>
    <div class="card-body">
        <div class="card-text">
            <table class="table">
                <tbody>
                <tr>
                    <td></td>
                    {% for p in player.payoff_table %}
                        <td class="fw-bold text-center">{{ p.label }}</td>
                    {% endfor %}

                </tr>
                <tr>
                    <td class="">Решение Участника А:</td>
                    {% for p in player.payoff_table %}
                        <td class="fw-bold text-center">{{ p.decision }}</td>
                    {% endfor %}

                </tr>

                <tr>
                    <td>Бонус Участника А:</td>
                    {% for p in player.payoff_table %}
                        <td class="text-center">{{ p.ego }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Бонус Участника Б:</td>
                    {% for p in player.payoff_table %}
                        <td class="text-center">{{ p.alter }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
