<div class="card my-3">

    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item my-3">
                    Этап принятия решения проходит следующим образом:

                </li>
                <li class="list-group-item  mx-3">
                    - Вы сопоставляетесь с участником B.


                </li>
                <li class="list-group-item  mx-3 ">
                    - Вам обоим выделено по $0,50.

                </li>
                <li class="list-group-item  mx-3">
                    - Вам выделено еще $0,50, что в сумме составляет $1,00. Человеку, с которым вы в паре, не было выделено дополнительно $0,50.


                </li>
                <li class="list-group-item my-3">
                    Вам будет предложено принять одно решение о переводе. Вы можете принять решение:


                </li>
                <li class="list-group-item  mx-3  ">
                    - взять до $0,50 у участника B, с которым вы состоите в паре, и добавить их на свой собственный счет;


                </li>
                <li class="list-group-item  mx-3">
                    - ничего не менять в деньгах, полученных вами или участником B;


                </li>
                <li class="list-group-item  mx-3">
                    - отдать до $0,50 из своих собственных денег участнику B.
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-header">
        Таблица бонусов
    </div>
    <div class="card-body">
        <div class="card-text">
            <table class="table">
                <tbody>
                <tr>
                    <td></td>
                    {% for p in player.payoff_table %}
                        <td class="fw-bold text-center">{{ p.label }}</td>
                    {% endfor %}

                </tr>
                <tr>
                    <td class="">Ваше решение:</td>
                    {% for p in player.payoff_table %}
                        <td class="fw-bold text-center">{{ p.decision }}</td>
                    {% endfor %}

                </tr>

                <tr>
                    <td>Ваш бонус:</td>
                    {% for p in player.payoff_table %}
                        <td class="text-center">{{ p.ego }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Бонус Участника Б:</td>
                    {% for p in player.payoff_table %}
                        <td class="text-center">{{ p.alter }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
