{% if player.field_maybe_none('dictator_reveal') != 0 %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group list-group-flush">

                    {% if player.treatment == 'baseline' %}
                        <li class="list-group-item">
                            <b> Компьютер </b> решил <b>не сообщать</b> вам ответ Участника Б, с которым вы в паре на
                            вопрос:
                        </li>

                        <li class="list-group-item fst-italic">
                            {{ C.AGREEMENT_QUESTION }}
                        </li>

                    {% elif player.treatment == 'forced_reveal' %}
                        <li class="list-group-item">
                            <b> Компьютер </b> решил <b>сообщить</b> вам ответ Участника Б, с которым вы в паре.
                        </li>

                    {% endif %}
                    {% if player.field_maybe_none('partner_position') %}
                        {{ if player.partner_position == 'nr' }}
                        {% include 'polar/includes/partner_nr.html' %}
                        {{ elif player.partner_position == 'yes' }}
                        {% include 'polar/includes/partner_yes.html' %}
                        {{ else }}
                        {% include 'polar/includes/partner_no.html' %}
                        {{ endif }}
                        {{ if player.partner_position != 'nr' }}
                        <li class="list-group-item">
                            {{ C.privacy_note }}
                        </li>
                        {{ endif }}

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}